.container{
    margin-left: auto;
    margin-right: auto;
    width: 540px

}
.card{
    width: 100%;
}
.list__item{
    display: none;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    border: 2px solid var(--black);
}
.list__item--show{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}



.cross-icon{
    width: 20px;
    height: 20px;
    z-index: 10;
}

.text-line-through{
    text-decoration:line-through;
}

.filter{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--white);
    background-color: gray;
    border: 2px solid var(--black);
    margin-bottom: 2rem;
}